.b-calendar-item
{
    position: relative;
    padding: 10px;
    background: #fff;
    border-right: 1px solid #dadada;
    margin: 10px 0;
    width: 300px;
    height: 200px;
    display: inline-block;
    float: left;
}

.b-calendar-item__event
{
    position: relative;
    display: block;
    margin: 5px;
    background-color: rgba(67,128,211,0.4);
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border-radius: 5px;
}

.b-calendar-item__details
{
    margin: 0 10px;
    display: block;
}


.b-calendar-item__cross
{
    display: none;
    background-image: url('cross.png'); 
    position: absolute;
    right: 5px;
    top: -8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.b-calendar-item__event_hover_yes .b-calendar-item__cross
{
    display: block;
}

.b-calendar-item__pencil
{
    display: none;
    background-image: url('pencil.png'); 
    position: absolute;
    right: 25px;
    top: -8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.b-calendar-item__event_hover_yes .b-calendar-item__pencil
{
    display: block;
}