
.b-popup__bg
{
    width: 100%;
    height: 3000px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.5);    
}

.b-popup__window
{
    position: relative;
    padding: 10px;
    padding-top: 0;
    margin: 150px auto;
    width: 450px;
    z-index: 9999;
    background-color: white;
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
    box-shadow:5px 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.b-popup__title
{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    text-decoration: underline;
}

.b-popup__content
{
    color: black;
    position: relative;
    line-height: 25px;
    white-space: pre-line;
}


.b-popup__reporter .b-text  /*not good*/
{
    display: inline;
}

.b-popup__photo
{
    position: relative;
    float: right;
}

.b-popup__textarea
{
    width: 100%;
    height: 400px;
}