
.b-popup__bg
{
    width: 100%;
    height: 3000px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.5);    
}

.b-popup__window
{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -225px;
    padding: 10px;
    padding-top: 0;
    width: 450px;
    z-index: 9999;
    background-color: white;
    -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
    box-shadow:5px 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.b-popup__title
{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    text-decoration: underline;
}

.b-popup__content
{
    color: black;
    position: relative;
    line-height: 25px;
    white-space: pre-line;
    word-break: break-all;
}


.b-popup__reporter .b-text  /*not good*/
{
    display: inline;
}

.b-popup__photo
{
    position: relative;
    float: right;
}

.b-popup__textarea
{
    width: 100%;
    height: 400px;
    resize: vertical;
}

.b-popup__input
{
    margin-bottom: 10px;
    float: right;
    margin-right: 100px;
}
